.crud-classify-tree {
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  .crud-classify-tree-wrap {
    height: calc(100% - 60px);
    overflow: auto;
    .custom-tree-node {
      align-items: center;
      width: 100%;
      overflow: hidden;
      .left-label {
        line-height: 26px;
        font-size: 14px;
        color: #606266;
        display: flex;
        align-items: center;
        width: calc(100% - 30px);
        overflow: hidden;

        .mock-info-badge {
          background-color: #909399;
          border-radius: 10px;
          color: #fff;
          display: inline-block;
          font-size: 12px;
          height: 18px;
          line-height: 18px;
          padding: 0 6px;
          text-align: center;
          white-space: nowrap;
          border: 1px solid #fff;
        }
      }
      .right-operate-btn {
        padding: 0 4px 0 2px;
        cursor: pointer;
        i {
          color: #c4c4c4;
        }
        
      }

    }
  }
}
