<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>营运点管理</title>
    <link rel="stylesheet" href="../../static/libs/element/element.css" />
    <link rel="stylesheet" href="../../static/admin/css/admin.css" />
    <link rel="stylesheet" href="../../static/elementTheme/theme/index.css" />
    <script src="../../static/libs/vue.js"></script>
    <script src="../../static/libs/element/element.js"></script>
    <script src="../../static/libs/Sortable.min.js"></script>
    <script src="../../static/libs/vuedraggable.js"></script>
    <script src="../../static/libs/moment.js"></script>
    <script src="../../static/libs/api.js"></script>
    <link
      rel="stylesheet"
      href="../../static/operationPoint/operationPoint.css"
    />
    <link rel="stylesheet" href="../../static/style/addMemberDialog.css" />
    <script src="../../components/addMemberDialog.js"></script>
  </head>
  <body>
    <div id="operationPointUpdate"></div>
  </body>

  <script>
    const template = `<div class="operationPointUpdateWrap">
        <el-form
          label-position="left"
          label-width="100px"
          ref="form"
          size="mini"
          :model="form"
          :rules="rules"
        >
          <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-form-item label="营运点名称" prop="operation">
                <el-input
                  v-model.trim="form.operation"
                  show-word-limit
                  maxlength="30"
                ></el-input>
              </el-form-item>
              <el-form-item label="营运点状态" prop="status">
                <el-switch
                  v-model="form.status"
                  :active-value="1"
                  :inactive-value="0"
                ></el-switch>
              </el-form-item>
              <el-form-item label="EHRcode" prop="EHRcode">
                <el-input v-model.trim="form.EHRcode"></el-input>
              </el-form-item>
              <el-form-item label="门店编码" prop="storecode">
                <el-input v-model.trim="form.storecode"></el-input>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-form-item label="营运点地址">
                <div class="selectAddressWrap">
                  <el-select
                    v-model="form.provinceValue"
                    clearable
                    placeholder="省"
                    @change="provinceChange"
                  >
                    <el-option
                      v-for="item in provinceOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                  <el-select
                    v-model="form.cityValue"
                    clearable
                    placeholder="市"
                    @change="cityChange"
                  >
                    <el-option
                      v-for="item in cityOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                  <el-select v-model="form.areaValue" clearable placeholder="区">
                    <el-option
                      v-for="item in areaOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
              </el-form-item>
              <el-form-item label="" prop="address">
                <el-input
                  v-model.trim="form.address"
                  show-word-limit
                  maxlength="60"
                ></el-input>
              </el-form-item>
              <el-form-item label="营运时间" prop="time">
                <el-time-picker
                  format="HH:mm"
                  is-range
                  v-model="form.time"
                  range-separator="至"
                  start-placeholder="开始时间"
                  end-placeholder="结束时间"
                  step="00:15"
                  placeholder="选择时间范围"
                ></el-time-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="tag-wrap">
            <el-form-item label="所在组织架构:" v-if="type === 'edit'">
              <template v-if="form.belongList && form.belongList.length">
                <el-tag v-for="item in form.belongList" :key="item.id" size="mini">
                  {{ item.name }}
                </el-tag>
              </template>
              <span v-else>-</span>
            </el-form-item>
          </el-row>
          <el-row>
            <el-col>
              <el-form-item label="成员选择">
                <div>
                  <add-member-dialog 
                    :isMultiple="isMultiple"
                    :writeBackSelectedMemberOrg="writeBackSelectedMemberOrg"
                    @confirm="confirmChooseMember"
                    ref="addMemberDialogRef"
                    >
                  </add-member-dialog>
                  <br />
                  <el-table
                    :data="confirmMemberOrg"
                    size="mini"
                    border
                    >
                    <el-table-column
                      prop="id"
                      label="成员编号"
                      width="80">
                    </el-table-column>
                    <el-table-column
                      prop="name"
                      label="姓名"
                      width="120">
                    </el-table-column>
                    <el-table-column
                      label="角色">
                      <template slot-scope="scope">
                        <el-select 
                          v-if="roleOptions && roleOptions.length"
                          v-model="scope.row.roles" 
                          multiple 
                          filterable
                          clearable
                          placeholder="请选择"
                          size="mini"
                          style="width: 100%">
                          <el-option
                            v-for="item in roleOptions"
                            :key="item.id"
                            :label="item.role"
                            :value="item.id">
                          </el-option>
                        </el-select>
                      </template>
                    </el-table-column>
                    <el-table-column
                      label="操作"
                      width="100">
                      <template slot-scope="scope">
                        <el-button @click="handleClickDel(scope.row, scope.$index)" type="text" size="small">取消绑定</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="btns">
            <el-button size="mini" type="primary" @click="handleReset">重置</el-button>
            <el-button size="mini" type="primary" @click="handleSubmit">提交</el-button>
          </el-row>
        </el-form>
      </div>`
    new Vue({
      template,
      el: "#operationPointUpdate",
      name: "operationPointUpdate",
      props: {},
      data() {
        return {
          // add 新增 edit 编辑
          type: "add",
          form: {},
          baseForm: {},
          rules: {
            operation: [
              { required: true, message: "请输入营运点名称", trigger: "blur" },
              {
                min: 0,
                max: 30,
                message: "长度不超过 30 个字",
                trigger: "blur",
              },
            ],
            status: [
              { required: true, message: "请输入营运状态", trigger: "change" },
            ],
            address: [
              {
                min: 0,
                max: 60,
                message: "长度不超过 60 个字",
                trigger: "blur",
              },
            ],
            EHRcode: [
              { required: true, message: "请输入EHRcode", trigger: "change" },
            ],
            storecode: [
              { required: true, message: "请输入门店编码", trigger: "change" },
            ],
          },
          selectedMembers: [],
          memberTreeloading: false,
          memberTreeType: "default",
          memberList: [],
          keyword: "",
          treeData: [],
          defaultProps: {
            children: "children",
            label: "department_name",
          },
          searchMemberResultList: [],
          keyword1: "",
          // 地址省市区相关
          provinceOptions: [],
          cityOptions: [],
          areaOptions: [],
          // 选人相关
          isMultiple: false,
          writeBackSelectedMemberOrg: [],
          confirmMemberOrg: [],
          roleOptions: [],
          saveBaseRole: {},
          baseTableData: []
        };
      },
      computed: {},
      async created() {
        this.initPage();
        this.getRoleOptions();
        this.provinceOptions = await this.getProvinceOptions();
      },
      mounted() {
        // window.aaa = this;
        // window.bbb = this.$refs.addMemberDialogRef
      },
      watch: {
      },
      methods: {
        // 选人确定
        confirmChooseMember(m) {
          let confirmMemberOrg = JSON.parse(JSON.stringify(m)).map(ele => {
            return {
              ...ele,
              name: ele.member_name || ele.department_name,
              roles: ele.roles || this.saveBaseRole[`${ele.id}`]
            }
          });
          this.confirmMemberOrg = confirmMemberOrg;
          this.writeBackSelectedMemberOrg = JSON.parse(JSON.stringify(this.confirmMemberOrg));
          this.$refs.addMemberDialogRef.setDialogVisible(false);
        },
        // 选人删除行
        handleClickDel(row, i) {
          this.confirmMemberOrg.splice(i, 1);
          this.writeBackSelectedMemberOrg.splice(i, 1);
        },
        handleReset() {
          Object.assign(this.form, this.baseForm);
          this.confirmMemberOrg = JSON.parse(JSON.stringify(this.baseTableData));
        },
        handleSubmit() {
          // this.form
        },
        initPage() {
          if (this.getQueryVariable("type")) {
            this.type = this.getQueryVariable("type") || "add";
          }
          if (this.type === "add") {
            this.baseForm = {
              operation: "",
              status: 1,
              EHRcode: "",
              storecode: "",
              provinceValue: "",
              cityValue: "",
              areaValue: "",
              address: "",
              time: [
                new Date(2016, 9, 10, 8, 30),
                new Date(2016, 9, 10, 22, 30),
              ],
              belongList: [],
            };
            this.form = { ...this.baseForm };
            this.writeBackSelectedMemberOrg = [];
          } else {
            // 依据路由id 请求营运点数据 ...
            this.form = {
              operation: "111",
              status: 1,
              EHRcode: "222",
              storecode: "333",
              provinceValue: "",
              cityValue: "",
              areaValue: "",
              address: "",
              time: [
                new Date(2016, 9, 10, 8, 30),
                new Date(2016, 9, 10, 22, 30),
              ],
              belongList: [
                {
                  name: "百果园集团/大区A/片区A",
                  id: "111",
                },
                {
                  name: "百果园集团/大区A/片区B",
                  id: "112",
                },
                {
                  name: "百果园集团/大区A/片区C",
                  id: "123",
                },
              ]
            }
            let tableData = [{"parent_name":"父节点_0","roles": [ 17, 18 ],"department_name":"部门节点__1","id":1,"isOrg":true,"isLeaf":false},{"member_name":"成员节点__3__7","id":7,"isOrg":false,"isLeaf":true,"department_name":"成员节点__3__7"}];
            // 存储之前的角色
            let saveBaseRole = {}
            tableData.map(ele => {
              if (ele.id !== null) {
                saveBaseRole[`${ele.id}`] = ele.roles
              }
            })
            this.saveBaseRole = JSON.parse(JSON.stringify(saveBaseRole));

            this.writeBackSelectedMemberOrg = this.formatTableData(tableData);
            this.confirmMemberOrg = this.formatTableData(tableData);
            this.baseTableData = JSON.parse(JSON.stringify(this.confirmMemberOrg));
          }
        },
        formatTableData(tableData) {
          return JSON.parse(JSON.stringify(tableData)).map(ele => {
            return {
              ...ele,
              name: ele.member_name || ele.department_name
            }
          });
        },
        getQueryVariable(variable) {
          var query = window.location.search.substring(1);
          var vars = query.split("&");
          for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
              return pair[1];
            }
          }
          return false;
        },
        // 角色数据获取
        getRoleOptions() {
          let _this = this;
          setTimeout(() => {
            _this.roleOptions = 
            [{
              "category": 1,
              "create_time": "2021-05-24 15:46:55",
              "data_permission": "",
              "delete_time": null,
              "id": 17,
              "role": "admin备用",
              "update_time": "2021-05-24 15:46:55",
            },{
              "category": 1,
              "create_time": "2021-05-24 15:46:55",
              "data_permission": "",
              "delete_time": null,
              "id": 18,
              "role": "admin备用18",
              "update_time": "2021-05-24 15:46:55",
            },{
              "category": 1,
              "create_time": "2021-05-24 15:46:55",
              "data_permission": "",
              "delete_time": null,
              "id": 19,
              "role": "admin备用19",
              "update_time": "2021-05-24 15:46:55",
            }]
          }, 500)
        },
        // 省市区相关
        async getAreaOptions(v) {
          return [
            {
              label: "南山",
              value: "00121",
            },
            {
              label: "宝安",
              value: "00122",
            },
          ];
        },
        async getCityOptions(v) {
          return [
            {
              label: "广州",
              value: "0011",
            },
            {
              label: "深圳",
              value: "0012",
            },
          ];
        },
        async getProvinceOptions() {
          return [
            {
              label: "广东省",
              value: "001",
            },
            {
              label: "广西省",
              value: "002",
            },
          ];
        },
        async cityChange(v) {
          if (v) {
            this.areaOptions = await this.getAreaOptions(v);
          } else {
            this.form.areaValue = "";
            this.areaOptions = [];
          }
        },
        async provinceChange(v) {
          if (v) {
            this.cityOptions = await this.getCityOptions(v);
          } else {
            this.form.cityValue = "";
            this.form.areaValue = "";
            this.cityOptions = [];
            this.areaOptions = [];
          }
        },
      },
    });
  </script>
</html>
